.imageContainer{
    display: none;
}

@media only screen and (min-width: 1000px) {
   
    .imageContainer{
        display: block;
        flex-shrink: 0;
        width: min(500px, 36vw);
        height: 350px;
        position: relative;
        margin-top: 48px;
    }
    .imageContainer img{
        object-fit: cover;
    }
}