.worksSection {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15vh 0 10vh 0;
  box-sizing: border-box;
  position: relative;
  z-index: 20;

  @media (max-width: 1024px) {
    min-height: auto;
    padding: 12vh 0 10vh 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 92vw;
  max-width: 1400px;
  margin: 0 auto;
}

.mainTitle {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 500;
  line-height: 1.1;
  color: black;
  letter-spacing: -0.03em;
  padding: 0;
  margin-bottom: 60px;

  @media (max-width: 1024px) {
    margin-bottom: 8vh;
  }
}
